@model OutOfOffice.Models.FormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Request.Name" class="control-label"></label>
                <input asp-for="Request.Name" class="form-control" />
                <span asp-validation-for="Request.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Email" class="control-label"></label>
                <input asp-for="Request.Email" class="form-control" />
                <span asp-validation-for="Request.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.ApproverName" class="control-label"></label>
                <input asp-for="Request.ApproverName" class="form-control" />
                <span asp-validation-for="Request.ApproverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.ApproverEmail" class="control-label"></label>
                <input asp-for="Request.ApproverEmail" class="form-control" />
                <span asp-validation-for="Request.ApproverEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.RequestType" class="control-label"></label>
                <select asp-for="Request.RequestType" asp-items="@Model.RequestType" class="form-control"></select>
                <span asp-validation-for="Request.RequestType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.LeaveDateTime" class="control-label"></label>
                <input asp-for="Request.LeaveDateTime" class="form-control" />
                <span asp-validation-for="Request.LeaveDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.ReturnDateTime" class="control-label"></label>
                <input asp-for="Request.ReturnDateTime" class="form-control" />
                <span asp-validation-for="Request.ReturnDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Reason" class="control-label"></label>
                <input asp-for="Request.Reason" class="form-control" />
                <span asp-validation-for="Request.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Status" class="control-label"></label>
                <select asp-for="Request.Status" asp-items="@Model.Status" class="form-control"></select>
                <span asp-validation-for="Request.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
