@model OutOfOffice.Models.Request

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproverEmail" class="control-label"></label>
                <input asp-for="ApproverEmail" class="form-control" />
                <span asp-validation-for="ApproverEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestType" class="control-label"></label>
                <input asp-for="RequestType" class="form-control" />
                <span asp-validation-for="RequestType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveDateTime" class="control-label"></label>
                <input asp-for="LeaveDateTime" class="form-control" />
                <span asp-validation-for="LeaveDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDateTime" class="control-label"></label>
                <input asp-for="ReturnDateTime" class="form-control" />
                <span asp-validation-for="ReturnDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
