@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <p>
        This ASP.Net Core MVC project is a solution to a problem I've encountered at work.
        We often have to report, approve and track time spent out of the office. This simple 
        web app currently allows for the collection of the information required for an out of office request.
        I plan on adding the following functionality:
        <ul>
            <li>Approval Workflows leveraging</li>
            <li>Integration with Google/Outlook Calendar</li>
            <li>A helpful chatbot to answer questions about Out of Office</li>
        </ul>
    </p>
</div>
<div class="text-center">
    <h2>Why</h2>
</div>
<div>
    <p>I built this application because I wanted project based learning for tools like 
        ASP.Net Core, Azure, Logic Apps, and Microsoft Bot Framework, among others that I
        might take advantage of later! I am also conscious that future employers might like to see 
        examples of my experience.</p>
</div>
